---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    As a dedicated informatics engineering student with a passion for making real contributions to the advancement of technology, I am always looking to improve my academic and professional journey. I have extensive experience in web development, having worked on various full-stack web projects.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Informatics Engineering at Politeknik Harapan Bersama"
      subtitle="Sep 2021 - present, Tegal, Indonesia"
    />
  
  </div>

 




  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>English (passive)</li>
    <li>Python</li>
    <li>PHP</li>
    <li>Javascript</li>
    <li>Dart</li>
    <li>Java</li>
    <li>Laravel</li>
    <li>Flask</li>
    <li>Flutter</li>
    <li>MySQL</li>
    <li>Jira</li>
    <li>Trello</li>
    <li>Netlify</li>
    <li>Bootstrap</li>
    <li>TensorFlow</li>
    <li>NLTK</li>
    <li>Pandas</li>
    <li>Scikit-Learn</li>
    <li>OpenCV</li>
    <li>YOLO</li>
  </ul>
</BaseLayout>
