---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Web</div>
  </div>

  <HorizontalCard
    title="KerjaAyokerja"
    img="/Project/1.png"
    desc="Developing a job vacancy information platform using Laravel"
    url="http://kerja.ayokerja.co/"
  
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Sistem informasi rumpun bidang infrastruktur pati"
    img="/Project/2.png"
    desc="SIRIWIL merupakan aplikasi digital untuk pemantauan sanitasi dan pengolahan limbah rumah tangga"
    url="https://testerapp.minuta.id/"
  />

 <div class="divider my-0"></div>
    <div>
    <div class="text-3xl w-full font-bold mb-5">Machine Learning</div>
  </div>


  <HorizontalCard
    title="Deteksi Hama Tanaman Daun Sawi Hijau"
    img="/Project/3.png"
    desc="Aplikasi ini memanfaatkan teknologi kecerdasan buatan (AI) dan pembelajaran mesin (machine learning) menggunakan metode Convolutional Neural Network (CNN) untuk mendeteksi hama secara akurat. Fitur-fitur yang ada di aplikasi ini yaitu dilengkapi chatbot dan analisis sentimen"
    url="https://github.com/riyanbayusaputra/CapstoneProject_Sisawi"
  />
   <div class="divider my-0"></div>

  
</BaseLayout>
